{% extends "GoVoyageBundle:Default:backoffice.html.twig" %}

{% block ajout_croi %}

<center><h3>Formulaire D'Ajout D'Offre Vol</h3></center>
<form method="POST" action="{{path('go_voyage_ajout_offre_vol',{idvol:vol.idvol})}}">

      <center>   
    
    <br><br>
        
      {{form_widget(form)}}
 

{{form_rest(form)}}
</center>

</form>

 
{% endblock %}