{% extends "GoVoyageBundle:Default:backoffice.html.twig" %}

{% block ajout_croi %}
<center><h3>Formulaire De Modification D'Offre De Croisiere</h3></center>
<form method="POST" action="{{path('go_voyage_modif_off_crois',{idcroisiere:offre_croisiere.idcroisiere})}}">
    <center>
        
        

        
        
         <br><br>
        
        {{form_widget(form)}}
        

</center>

</form>

{% endblock %}